:root {
  font-family: Vazirmatn, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}
p {
  text-align: center;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.ant-layout,
.ant-layout-footer {
  background-color: #ffffff !important;
}
div,
.ant-btn,
h1,
h5 {
  font-family: Vazirmatn !important;
}
